# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.ipynb_checkpoints/

# Environment
.env

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/.user.yml

# Spark
spark-warehouse/
derby.log
metastore_db/

# Local data
*.parquet
*.log

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
