# Kafka producer
confluent-kafka==2.3.0

# Streaming
apache-flink==1.18.1

# Batch
pyspark==3.5.1
delta-spark==3.1.0

# Warehouse / transformations
dbt-core==1.7.10
dbt-postgres==1.7.9

# Orchestration
apache-airflow==2.8.3

# Data quality
great-expectations==0.18.12

# Serving API
fastapi==0.110.0
uvicorn==0.27.1

# Shared
pandas==2.2.1
psycopg2-binary==2.9.9
sqlalchemy==2.0.28
python-dotenv==1.0.1

# Notebook
jupyter==1.0.0
matplotlib==3.8.3
seaborn==0.13.2
